<div id="contenedor">
    {{!-- <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p> --}}
    <img id="img-principal" src="../images/cinema.jpg" alt="cinema">
    <div id="txt-principal">
        <h1>Bienvenidos a Javi Cinemas</h1>
        <a class="btn" href="/movies">Disfruta del Cine!</a>
    </div>
</div>



